@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
/* 
INSPIRATION
MARON : #664B43
GRIS : #6A655E
BEIGE: #CBBD9B
BLANC-CASSER : #EEE9E3
JAUNE-FONCER : #D2CE5B
VERT-DEMI-FLUO : #AACF33
NOIR: #000000 
*/

*{
margin:0;
padding: 0;
text-decoration: 0;
}


body{
    max-height: 100vh;
    max-width: 100vw;
    background-color: #A9CD33;
    background-image: url(/Image_src/2727.jpg);;    
    background-attachment: fixed;
    background-size: cover;
}

