/* 
INSPIRATION
MARON : #664B43
GRIS : #6A655E
BEIGE: #CBBD9B
BLANC-CASSER : #EEE9E3
JAUNE-FONCER : #D2CE5B
VERT-DEMI-FLUO : #AACF33
NOIR: #000000 
*/

*{
margin:0;
padding: 0;
text-decoration: 0;
list-style: none;
}


.sec1{
    margin-top: 50px;
}
.sec1 .conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1900px;
    margin: 0 auto;
}

.sec1 .conteiner .left{
    display: flex;
    flex-direction: column;
    margin: 0px 60px;
}



.sec1 .conteiner .left h1{
    font-size: 3.5em;
    color: black;
    text-shadow:  Opx Opx 100px rgb(0, 0, 0);
}

.sec1 .conteiner .left h3{
    margin-top: 40px;
    font-size: 2em;
}



.sec1 .conteiner .left p {
    max-width: 600px;
    color: black;
    font-size: 1.5em;
    margin: 0px 0;
}

.sec1 .conteiner img{
    width: 900px;
    height: 900px;
}





@media (max-width: 1625px) {
    .sec1 .conteiner img{
        width: 600px;
        height: 600px;
    }


    .sec1 .conteiner .left h1{
        font-size: 2.5em;
    }
    
    .sec1 .conteiner .left h3{
        font-size: 1.5em;
    }
    
    
    
    .sec1 .conteiner .left p {
        font-size: 1em;

    }

}



@media(max-width: 1320px){

    .sec1 .conteiner img{
        width: 480px;
        height: 480px;
    }


    .sec1 .conteiner .left h1{
        font-size: 2.5em;
    }
    
    .sec1 .conteiner .left h3{
        font-size: 1.5em;
    }
    
    
    
    .sec1 .conteiner .left p {
        font-size: 1em;

    }



}

@media screen and (max-width: 860px) { 


    .sec1 .conteiner img{
        width: 85%;
        height: 85%;
    }

    .sec1 .conteiner{
        flex-direction: column;

    }

    .sec1 .left{
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
    }

    .sec1 .right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sec1 .conteiner .left h1{
        font-size: 2em;
    }
    
    .sec1 .conteiner .left h3{
        font-size: 1.5em;
    }
    
    
    
    .sec1 .conteiner .left p {
        font-size: 1em;

    }


}