/* 
INSPIRATION
MARON : #664B43
GRIS : #6A655E
BEIGE: #CBBD9B
BLANC-CASSER : #EEE9E3
JAUNE-FONCER : #D2CE5B
VERT-DEMI-FLUO : #AACF33
NOIR: #000000 
*/

*{
margin:0;
padding: 0;
text-decoration: 0;
list-style: none;
}
/* Card */

.card-containers{
    margin-top: 5%;
    background-color: #664B43;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 470px);
    grid-gap: 100px ;
    justify-content: center;
    }

.card{
    max-height: 650px;
    min-height: 480px;
    max-width: 900px;
    padding: 40px;
    background-color: #9b9075;
    color: #FFFF;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.3em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* Inside Card */
.card h1{

    margin-top: 30px;
}
.card h3{
    font-size: 1.4em;
    margin-top: 30px;
}
.card p{
    margin-top: 30px;
}

.Card-Icône{
    width: 64px;
    margin-top: 40px;
}




/* Transtion */

.Transition-Top  img{
    border-top: 3px;
    position: absolute;
    width: 100%;
    transform: translateY(-70%) ;
}


.Transition-Bottom  img{
    border-top: 3px;
    position: absolute;
    width: 100%;
    transform: translateY(-1.5%) ;
}
/* END Transition */


@media screen and (max-width: 1053px) {
    .card{
    min-width: 600px;
    transform: translateX(-15%);
    }
}


/* Responsive Medium Media */

@media screen and (max-width: 770px) {
   
    .card{
        max-height: 750px;
        min-height: 400px;
        min-width: 400px;
        font-size: 1em;
        padding: 40px;
        transform: none;
    }
    .Card-Icône{
        width: 64   px;
        margin-top: 15px;
    }
    
    .card h1{
        font-size: 2em;
      }
    
      
    .card h3{
        font-size: 1.5em;
    }
    
    .card p{
        font-size: 1.4em;
    }   
}



    

/* Responsive Small Média*/

@media screen and (max-width: 670px) { 

.card-containers{
    grid-template-columns: repeat(auto-fit, 450px);
    }
    .Inside-card{
        margin-top: 10px;
    }
}

@media screen and (max-width: 670px) { 

.card-containers{
    grid-template-columns: repeat(auto-fit, 320px);
    }
.Inside-card{
    margin-top: 10px;
}

.card{
    min-width: 300px;
    font-size: 0.9em;
    transform: translateX(-6%);
}

.Card-Icône{
    margin-top: 15px;
}

.card h1{
    font-size: 2em;
  }

  
.card h3{
    font-size: 1.5em;
}

.card p{
    font-size: 1.4em;
}   


}

@media screen and (max-width: 460px) { 

    .card h1{
        font-size: 2em;
      }

      
    .card h3{
        font-size: 1.4em;
    }

    .card p{
        font-size: 1.25em;
    }   

    .card {
      min-width: 200px;
      transform: translateX(-10%);
    }
    
    .card-containers {
        grid-template-columns: repeat(auto-fit, 200px);
    }
    .Inside-card{
        margin-top: 10px;
    }

    .Card-Icône{
        width: 50px;
        margin-top: 15px;
    }
}


/* Responsive Very-Small Média*/
@media screen and (max-width: 300px) { 

    .card h1{
        font-size: 1.5em;
      }

      
    .card h3{
        font-size: 1.1em;
    }

    .card p{
        font-size: 1em;
    }
    .card-containers {
        grid-template-columns: repeat(auto-fit, 200px);
    }
    .card{
        max-height: 750px;
        min-height: 100px;
        min-width: 200px;
        font-size: 0.8em;
        padding: 20px;
        transform: translateX(-7%);
    }
    .Card-Icône{
        width: 42px;
        margin-top: 15px;
    }
}