/* 
INSPIRATION
MARON : #664B43
GRIS : #6A655E
BEIGE: #CBBD9B
BLANC-CASSER : #EEE9E3
JAUNE-FONCER : #D2CE5B
VERT-DEMI-FLUO : #AACF33
NOIR: #000000 
*/

*{
margin:0;
padding: 0;
text-decoration: 0;
list-style: none;
}


footer{
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #CBBD9B;
    display: flex ;
    justify-content:center;
    align-items: center;
    flex-direction: column ;
}

.Ranger-Media{
display:flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-bottom: 1rem;

}
.Footer-Menu{

display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin: 1rem;
}
.menu-item{
    margin-left: 20px;
}

.menu-item a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 6px;

}

.Ranger-Media img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 20px;
}