/* 
INSPIRATION
MARON : #664B43
GRIS : #6A655E
BEIGE: #CBBD9B
BLANC-CASSER : #EEE9E3
JAUNE-FONCER : #D2CE5B
VERT-DEMI-FLUO : #AACF33
NOIR: #000000 
*/

*{
margin:0;
padding: 0;
text-decoration: 0;
list-style: none;
}

/* Header */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: top url('/Image_src/Moisonneuse.jpg');
    background-size: cover;
    background-repeat:  no-repeat;
    background-position: top;
    padding: 150px;
    border-bottom: 4px solid black;
}
header h1{
    font-size: 4em;
    color: #000000;
    text-align:left;
    z-index: 0;
}
header h4{
    margin-top: 50px;
    font-size: 3em;
    text-align:left;
    border-bottom: 3px solid black;
}

header button {
    padding: 10px 20px;
    background-color: #000000;
    color: #FFFF;
    border: none;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}

/* Section a propos */

/* Card */



/* Responsive Medium Media */

@media screen and (max-width: 770px) {
   
    header{
        padding:105px;
    }
    header h1{
        position: relative;
        top: 1em;
        font-size: 2em;
    }
    header h4{
        margin-top: 50px;
        font-size: 1.5em;
    }

}


@media screen and (max-width: 300px) { 

    header h1{
        font-size: 1.8em;
    }
    header h4{

        font-size: 1.6em;
    }
}