/* 
INSPIRATION
MARON : #664B43
GRIS : #6A655E
BEIGE: #CBBD9B
BLANC-CASSER : #EEE9E3
JAUNE-FONCER : #D2CE5B
VERT-DEMI-FLUO : #AACF33
NOIR: #000000 
*/

*{
margin:0;
padding: 0;
text-decoration: 0;
list-style: none;
}





.Title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
}
.Title h1{
    font-size: 3.8em;
}
.Title img{
    width: 115px;
    margin-right: 40px;
}




.Horaire-Content {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Contour {
    display: flex;
    border: 2px solid black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.Horaire-Table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #CBBD9B;
    font-size: 20px;
}

.Horaire-f {
    color: rgb(187, 0, 0);
}




@media screen and (max-width: 1400px) {
   
    .Horaire-Table {
        font-size: 1em;
    }


    .Title img{
        width: 100px;
        margin-right: 30px;
    }
}


@media screen and (max-width: 1180px) {
   
    .Horaire-Table {
        padding: 15px;
    }
    
    .Title h1{
        font-size: 3em;
    }

    .Title img{
        width: 80px;
    }
}

@media screen and (max-width: 930px) {
   
    .Horaire-Table {
        font-size: 0.9em;
        padding: 10px;
    }


    .Title h1{
        font-size: 2em;
    }

    .Title img{
        width: 60px;
    }
}


@media screen and (max-width: 770px) {
   

    .Contour {
        margin:30px;
        display: grid;
        border: 2px solid black;
        grid-template-columns: repeat(2fr, 150px);
    }


    .Lundi{
        grid-column: 1 / 2;
        grid-row: 1;
    }
    .Mardi{
        grid-column: 2 / 2;
        grid-row: 1;
    }
    .Mercredi{
        grid-column: 1 / 2;
        grid-row: 2;
    }
    .Jeudi{
        grid-column: 2 / 2;
        grid-row: 2;
    }
    .Vendredi{
        grid-column: 1 / 2;
        grid-row: 3;
    }
    .Samedi{
        grid-column: 2 / 2;
        grid-row: 3;
    }
    .Dimanche{
        grid-column: 1 / 3;
        grid-row: 4;
    }

    .Title{
        font-size: 0.8em;
    }

    .Title img{
        margin-right: 10px;
        width: 35px;
    }
    .Horaire-Table {
        font-size: 0.8em;
        padding: 1em;
    }

}

@media screen and (max-width: 385px) {

    .Title{
        font-size: 0.6em;
    }
    .Title img{
        margin-right: 10px;
        width: 35px;
    }

}