.Maps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;

}
.GoogleMaps{
    width: 100%;
    border: 2px solid black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media screen and (max-width: 920px) {

    .Maps {
        padding: 50px;
    }
}



@media screen and (max-width: 420px) {

    .Maps {
        padding: 10px;
    }

    .GoogleMaps{
        width: 100%;
    }
}