    
/* 
INSPIRATION
MARON : #664B43
GRIS : #6A655E
BEIGE: #CBBD9B
BLANC-CASSER : #EEE9E3
JAUNE-FONCER : #D2CE5B
VERT-DEMI-FLUO : #AACF33
NOIR: #000000 
*/

*{
margin:0;
padding: 0;
text-decoration: 0;
list-style: none;
}



/* Nav-Bar-Item / Item List */


.unselect{

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.nav__list{
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    gap: 1rem;
    margin: 0 2rem;

}

.nav__list_item{
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
}



.nav__list_item:after{
    content:"";
    width:0;
    height: 0.25rem;
    border-radius:4px;
    position: absolute;
    left: 1rem;
    bottom: 0.8em;
    background-color: #664B43;
    transition:width 200ms ease-in;
}

.nav__list_item:hover::after, :focus::after{
    width: 80%;
}

.nav__list_item:hover ul, :focus ul{
    opacity: 1;
    visibility:visible ;
}


.nav_list_item_drop{
    z-index: 20;
    position: absolute;
    top:4rem;
    left: -1rem ;
    box-shadow: 0 0 10px gray;
    background-color: aliceblue;
    border-radius: 4px ;
    width:12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    opacity:0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}

.nav_list_item_drop li{
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 4px ;
    transition:background-color 200ms ease-in-out ;
}




.nav_list_item_drop2{
    z-index: 20;
    position: absolute;
    top:4rem;
    left: -1rem ;
    box-shadow: 0 0 10px gray;
    background-color: aliceblue;
    border-radius: 4px ;
    width:14rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    opacity:0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}

.nav_list_item_drop2 li{
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 4px ;
    transition:background-color 200ms ease-in-out ;
}
.Drop_item:hover {
    background-color: #664B43;
}


/* Nav-Bar Natif */

.navbar .logo {
    height: 140px;
    position: absolute;
    left: 20px;
    top: 10px;
    border-radius: 0em 0em 1em 0em;
}

.Background-logo{
    height: 160px;
    width: 200px;
    left: 50px;
    top: 40px;
    position: relative;
    background-color: #CBBD9B;
    border-bottom: 2px solid #000000;
    border-radius: 0em 0em 5em 0em;
}

.navbar{
    position: absolute; /* Prend la place au dessus du bg*/
    display: flex;
    top: -40px;
    right: 50px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
 color: black;
 font-family: 'Alice';
 font-size: 1.3 em;
}




.navbar .logo {
    height: 140px;
    position: absolute;
    left: 20px;
    top: 10px;
    border-radius: 0em 0em 1em 0em;
}

.Background-logo{
    height: 160px;
    width: 200px;
    left: 50px;
    top: 40px;
    position: relative;
    background-color: #CBBD9B;
    border-bottom: 2px solid #000000;
    border-radius: 0em 0em 5em 0em;
}

.BG-top{
    height: 75px;
    background-color: #CBBD9B;
    border-bottom: 2px solid #000000;
}



.navbar .menu-hamburger {
    display: none;
    width: 35px;
    position: absolute;
    top: 60px;
    right: 0px;
    z-index: 30;
}


@media screen and (min-width:1720px) {

    .nav__list_item {
        margin: 5px 10px;
        font-size: 1.3em;
    }
    .nav_list_item_drop{
     width: 13rem;
    }
    .nav_list_item_drop2{
        width: 17rem;
    }
}


/* DEFINIR TABLETTE AFFICHAGE TROP PETIT */
@media (min-width: 768px) and (max-width: 1024px){
    .nav__list_item:hover::after, :focus::after{
        width: 100%;
    }
    
    .nav__list_item:after{
        bottom: -0.2em;
        height: 0.2rem;
        left: 0.1rem;
        }
    
        
    .navbar .nav-links ul li {
        margin: 11px;
        font-size: 1.3em;    
    }
    
    .nav__list_item{
        padding: 0em;
    }
    
    .nav_list_item_drop{
        width: 14rem;
        font-size: 0.7em;
        left: -6rem;
        gap: 0em;
        top: 2.1em;
    }
    
    .nav_list_item_drop2{
        width: 16rem;
        font-size: 0.7em;
        left: -5.5rem;
        gap: 0em;
        top: 2.1em;
    }
    
    
    .navbar .logo {
        position: absolute;
        top: 10px;
        left: 20px
        }
    
    .navbar .menu-hamburger {
        display: block;   
    }
    
    .nav-links{
        top: 40px;
        left: 50px;
        position: absolute;
        background-color: rgba(95, 95, 95, 0.308);
        backdrop-filter: blur(4px);
        width: 100% ;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center ;
        margin-left: -100%;
        transition: all 0.3s ease;
        z-index: 20;
    }
    .nav-links.mobile-menu {
        margin-left: 0;
    }
    
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    }






@media screen and (max-width: 768px) {

.nav__list_item:hover::after, :focus::after{
    width: 100%;
}

.nav__list_item:after{
    bottom: -0.2em;
    height: 0.2rem;
    left: 0.1rem;
    }

    
.navbar .nav-links ul li {
    margin: 11px;
    font-size: 1.1em;    
}

.nav__list_item{
    padding: 0em;
}

.nav_list_item_drop{
    width: 10rem;
    font-size: 0.7em;
    left: -4rem;
    gap: 0em;
    top: 2.1em;
}

.nav_list_item_drop2{
    width: 14rem;
    font-size: 0.7em;
    left: -5rem;
    gap: 0em;
    top: 2.1em;
}


.navbar .logo {
    position: absolute;
    top: 10px;
    left: 20px
    }

.navbar .menu-hamburger {
    display: block;   
}

.nav-links{
    top: 40px;
    left: 50px;
    position: absolute;
    background-color: rgba(95, 95, 95, 0.308);
    backdrop-filter: blur(4px);
    width: 100% ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-left: -100%;
    transition: all 0.3s ease;
    z-index: 20;
}
.nav-links.mobile-menu {
    margin-left: 0;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

}

@media screen and (max-width:420px) {

    .navbar .menu-hamburger {
        display: block;
        width: 34px;
        position: absolute;
        top: 60px;
        right: -30px;
    }
}
