
@media screen and (min-width: 850px) {
    .Containers{
        display: flex;
        justify-content: space-between;
        margin-top: 8em;
    }
}

.Product-Payements{
    display: flex;
    flex-direction: column;
}
.Positions{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
    margin: 0.5rem 0;
    font-weight: 400;
    margin-bottom: 1.875rem;
}
.Product-Lister{
    background-color: tomato;
    width: 100%;
}

/* MARON : #664B43
GRIS : #6A655E
BEIGE: #CBBD9B
BLANC-CASSER : #EEE9E3
JAUNE-FONCER : #D2CE5B
VERT-DEMI-FLUO : #AACF33
NOIR: #000000  
*/

.container{
	max-width: 1200px;
	margin-top: 6em;
    margin-left: auto;
    margin-right: auto;

}

.container > h1{
    text-align: center;
    align-items: center;
	padding: 20px 0;

}

.cart{
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;

}

.products{

	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;

}

.product{
	display: flex;
	width: 100%;
	height: 200px;
	overflow: hidden;
	border: 1px solid rgb(0, 0, 0);
	margin-bottom: 20px;
    background-color: #CBBD9B;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 16px 0px rgba(49, 49, 74, 1);

}

.product:hover{

	border: none;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	transform: scale(1.01);

}

.product > img{
    max-width: 100%;
    height: auto;
	object-fit: cover;
	border-radius: 10px;
	border: 2px solid black;

}

.product > img:hover{

	transform: scale(1.04);

}

.product-info{

	padding: 20px;
	width: 100%;
	position: relative;

}

.product-name, .product-price, .product-offer{

	margin-bottom: 20px;

}

.product-remove{

	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 25px;
	background-color: green;
	color: white;
	cursor: pointer;
	border-radius: 5px;

}

.product-remove:hover{

	background-color: white;
	color: green;
	font-weight: 600;
	border: 1px solid green;

}

.product-quantity{
	position: relative;
	left: 90px;
}

.product-quantity > input{

	width: 40px;
	padding: 5px;
	text-align: center;

}

.fa{

	margin-right: 5px;

}



@media screen and (max-width: 800px){

	.remove{

		display: none;

	}

	.product{
		width: 500px;
		height: 150px;

	}

	.product > img{

		height: 150px;

		width: 200px;

	}

	.product-name, .product-price, .product-offer{

		margin-bottom: 10px;

	}

}


@media screen and (max-width: 1220px){

	.container{

		max-width: 95%;

	}

}

@media screen and (max-width: 610px){

	.product > img{

		height: 120px;
		width: 120px;
		object-fit: cover;

	}

}

