
  /* 
INSPIRATION
MARON : #664B43
GRIS : #6A655E
BEIGE: #CBBD9B
BLANC-CASSER : #EEE9E3
JAUNE-FONCER : #D2CE5B
VERT-DEMI-FLUO : #AACF33
NOIR: #000000 
*/
  
  
  
  .topnav {
    display: flex;
    background-color: rgb(85, 85, 85);
    padding: 20px;
    margin-top: 8em;
    margin-left: 5em;
    margin-right: 5em;
    justify-content: center;
    flex-wrap: wrap;
  }
.topnav img{

    height: 25px;
    width: 25px;
    margin-left: 10px;
    position: relative;
    top: 0.2em;
}

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  

  .topnav a:not(:first-child):not(:last-child):hover {
    background-color: #ddd;
    color: black;
  }

  
  .topnav .icon {
    display: none;
  }
  



  @media screen and (max-width: 1100px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      position: relative;
      top: 8px;
    }



    .topnav {
        overflow: hidden;
        background-color: rgb(85, 85, 85);
        margin-top: 8em;
        margin-left: 5em;
        margin-right: 5em;
        padding: 2em;
        display: block;
      }
  }
  





  @media screen and (max-width: 1100px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      user-select: none;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      margin-top: 0;
  }


  .topnav a:first-child{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}




@media screen and (max-width: 414px) {

    .topnav {
        margin-left: 1em;
        margin-right: 1em;
}

}



@media screen and (max-width: 301px) {

    .topnav {
        margin-left: 0.4em;
        margin-right:  0.4em;
        
}
.topnav a {

     padding: 8px 12px;
     font-size: 12px;
  }
}