
/*
INSPIRATION
MARON : #664B43
GRIS : #6A655E
BEIGE: #CBBD9B
BLANC-CASSER : #EEE9E3
JAUNE-FONCER : #D2CE5B
VERT-DEMI-FLUO : #AACF33
NOIR: #000000
*/


.Product{
    padding: 30em;
}

.container{
    margin: 2.2em 10em 10em 10em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    row-gap: 30px;
    column-gap: 30px;
}



.Card{
    max-width: 400px;
    max-height: 900px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    border-radius: 1.2em;
    background: #fff;
    margin-bottom: 5em;
}

.content{
    padding: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Product-image {
    max-width: 100%;
    background: #fff;
    border-radius: .3em;
}

.name{
    margin-top: 1em;
}

.description {
    margin: .6em 0;
    font-size: 0.85em;
    color: black;
}

.Bottom-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8em;
}


.Add-Cart{
    background-color: #081f2d;
    border-radius: 29px;
    border: 1px solid #081F2D;
    color: white;
    font-size: 15px;
    padding: 10px 45px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 0.5em;
    }

.Add-Cart:hover{
    background-color: white;
    color: #081F2D;
    border-color: #081F2D;
    transition: 0.3s;
}
.Poids {
    margin-top: 10px;
}




.Info{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.Prix{
    font-size: 1.3em;
}

.ProductTitle{
    text-align: center;
    margin-top: 2em;
    font-size: 1.8em;
}

.counter {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.counter input {
    width: 50px;
    height: 25  px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #081F2D;
    color: white;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #000000;
    user-select: none;
}


.categorie-containers {
    margin-top: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60px;
    background: #da0000;
}
@media screen and (max-width: 430px) {

    .container{
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        margin: 2.5 em 2em 2em 2em;
    }
    .Card{
        max-width: 400px;

    }

}


@media screen and (max-width: 780px) {

    .container{
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        margin: 2.5em 2em 2em 2em;
    }
    .Card{
        max-width: 400px;

    }

}


@media screen and (max-width: 1500px) {

    .container{
        margin: 2.5em 1em 0em 1em;
        row-gap: 30px;
        column-gap: 30px;
    }
}