
/* 
INSPIRATION
MARON : #664B43
GRIS : #6A655E
BEIGE: #CBBD9B
BLANC-CASSER : #EEE9E3
JAUNE-FONCER : #D2CE5B
VERT-DEMI-FLUO : #AACF33
NOIR: #000000 
*/

*{
    margin:0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
    }
    


/* Carousel */
.Slider-Content{
    border-top: 3px solid black;
    border-bottom: 3px solid black  ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15em;
    background-color: #664B43;
}

.Slider{
    position: relative;
    background: black;
    width: 1700px;
    min-height: 700px;
    margin: 15px;
    overflow: hidden;
    border-radius: 10px;
}

.Slider .Slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
}

.Slider .Slide.active{ 
    clip-path: circle(150% at 0 50%);
    transition: 1.2s;
}





.Slider .Slide img{

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Slider .Slide .info{
    position: absolute;
    color: black;
    background-color: rgba(192, 192, 173, 0.6);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
    font-family: 'Alice', sans-serif;
}

.Slider .Slide .info h2{
    font-size: 2.2em;
    font-weight: 900;
}

.Slider .Slide .info p{
    margin-top: 30px;
    font-size: 1.3em;
    font-weight: 600;
}

.navigation{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
}

.Slider:hover .navigation

{
opacity: 1;
}

.prev-btn, .next-btn{
z-index: 10;
font-size: 2em;
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255, 0.8);
padding: 10px;
cursor: pointer;
}

.prev-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn{    
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visible{

    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigation-visible .slide-icon{
    z-index: 10;
    background: rgb(255, 255, 255);
    width: 20px;    
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 0 5px 25px rgb(1 1 1 /20%);
}

.navigation-visible .slide-icon.active{
    background:#382721 ;

}

/* Card 1:1 */
@media (max-width: 1200px)  
{

    .Slider-Content{
        margin-top: 10em;
    }
}


/*  Responsive 900px Medium-media  */
@media (max-width: 900px) 
{

.Slider{
 width: 100%;
}

.Slider .Slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

}

/* Responsive 500px small-media*/
@media (max-width: 500px){     

    .Slider .Slide .info h2{
        font-size: 1.8em;
        line-height: 40px;
    }

    .Slider .Slide .info p{
        font-size: 1em;
    }
}

/*  END PrecedentCarousel */